:root {
    --primary-color: #486d35;
    --secondary-color: powderblue;
    --tertiary-color: #3F72AF;
    --font-color: #624D26;
    --background-color:#FFFDD0;
    
}

*{
    box-sizing: border-box;
}

/*  HEADER AND NAVIGATION STYLES  */

header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--background-color);
    border-bottom: var(--tertiary-color);

}

header h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: var(--primary-color);
    
    
}

header nav {
    width: 45%;
    height: 100%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    height: 130px;
    align-items: center;  
}

 header nav ul li a {
    padding: 10px 10px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: var(--font-color);
 }

 .hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

 }

 .background-img {
    height: 600px;
    width: 100%;
    margin: 25px;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--secondary-color)
 }

 /* BODY STYLES */

 body {
    color: var(--font-color);
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

body h2 {
    /* padding-right: 15px; */
    /* font-style: italic; */
    font-size: 30px;
    color: var(--primary-color);
    width:25%
}

 /* FOOTER & CONTACT ME STYLES */

 footer {
    /* box-shadow: inset 0 0 0 300px rgba(0, 0, 0, .7); */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
    justify-content: space-between;
    align-items: center;
 }

footer h3 {
    font-family:Arial, Helvetica, sans-serif
    font-size: 45px;
    font-weight: bold;
    color: var(--primary-color);
    margin: 0px;
    padding: 20px 30px;
}

footer ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: px;
}

/* SECTION TITLE */

.section-title {
    font-family:Arial, Helvetica, sans-serif;
    /* font-size: 40px; */
    color:var(--primary-color);
    /* border-right: 3px solid var(--secondary-color); */
    text-align: left;
    /* padding: 15px 100px;*/
    /* width: 25%; */
}

/* ABOUT ME SECTION */
/* .about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#about-me #work {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: left;
    flex-wrap: wrap;
    background-color: var(--tertiary-color)
} */

.content {
    width: 35%;
    text-align: right;
    /* margin-right: 0; */
    font-size: 16px;
    line-height: 1.2;
}

/* WORK SECTION */
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0 0 0 0;
    color: var(--primary-color);
    text-align: left;  
}

 {
    
}

.work-content {
    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
}

.main-card {
    height: 65%;
    margin: 2.5%;
    padding-top: 15px;
    display: flex;
    justify-content: right;
    position: relative;
    border: 0;
    width: 75%;
}

.main-img {
    border: 3px solid var(--secondary-color);
    border-radius: 20px;
    height: 75%;
    width: 85%;
    
}

.work-flex {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    /* justify-content: center; */
    font-size: 16px;
    width: 15%;
}

.work-flex h2 {
    padding-right: 2.5%;
    align-self: flex-start;
    justify-content: center;
}

.img-caption {
    position: absolute;
    bottom: 10%;
    left: 15%;
    background-color: var(--secondary-color);
    font-size: 28px;
}

.img-caption-1, .img-caption-2, .img-caption-3, .img-caption-4 {
    position: absolute;
    bottom: 10%;
    left: 7%;
    background-color: var(--secondary-color);
}

.small-card {
    position: relative;
    display: flex;
    justify-content: right;
    padding: 10px;
}

.small-img {
    border: 3px solid var(--secondary-color);
    border-radius: 20px;
    width: 200px;
    height: 150px;
    margin: 0 2px; 
}

/* contact me */

#contact-me {
    
}

/* LINKS */
.link li a {
    text-decoration: none; 
    font-weight: lighter;
    margin: 0px;
    padding: 20px 30px;
    color: var(--primary-color);
}

.link ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    height: 130px;
    align-items: center;
}

.link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}